body {
  background-color: #730f15;
  background-image: url('../images/career-backdrop2.jpg');
  background-size: 100%;
  background-position: 0px 400px;
  background-repeat: no-repeat;
  font-family: Lato;
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}
.form-signin {
  max-width: 830px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.btn-checkin, .btn-checkin:hover {
  opacity: 0.3;
  background: white;
  border-radius: 3px;
  border-color: black;
}
.btn-checkin span {
  color: black;
}
.welcome {
  margin-top: -10px;
  color: white;
  font-size: 100px;
  opacity: 0.3;
  font-weight: 400;
  margin-bottom: 100px;
}
h1 {
  font-size: 25px;
  color: white;
  margin-bottom: 30px;
}
